<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="PDAWcfService.PDAService">
                <endpoint address="net.tcp://192.168.1.206:808/PDAServiceEndPoint"
                    binding="netTcpBinding" bindingConfiguration="" contract="PDAWcfService.IPDAService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.1.206:808/PDAServiceEndPoint" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>